[run]
branch = True
parallel = True
source = src/vitalDSP
omit =
    tests/*
    migrations/*
    */site-packages/*

[report]
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
    raise NotImplementedError