[flake8]
# Maximum line length for PEP8 compliance
max-line-length = 88

# Exclude specific directories from linting
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    env,
    *.egg-info,
    .tox,
    .mypy_cache,
    .pytest_cache,
    cov_html

# Ignore specific error codes
# E203: Whitespace before ':'
# E266: Too many leading '#' for block comments
# E501: Line length
# E302: Ignore the expected 2 blank lines error
# E731: Do not assign a lambda expression, use a def
# W503: Line break before binary operator
# F403: Import * used
# F405: Name may be undefined or defined from import * used
ignore =
    E203,
    E266,
    E302,  
    E501,
    E731,
    W503,
    F403,
    F405

# Select specific error codes (Optional, if you want to enforce certain checks only)
# select =
#     E, W, F

# Enable type hints checking (Optional)
# enable-extensions = H102, H103
