sphinx>=4.0.0
sphinx_rtd_theme>=0.5.2
nbsphinx
sphinx-markdown-builder
matplotlib
plotly
ipykernel
pandas
ipython
pyyaml
seaborn
dash-bootstrap-components
myst-nb
jupyter-sphinx
ipywidgets>=7
sphinx-plotly-directive
sphinxcontrib-jquery
pydata-sphinx-theme
vitalDSP